@layer components {
    .app {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .app-header {
            background-color: #282c34;
            padding: 2rem;
            color: white;
        }

        .app-body {
            color: white;
            padding: 6rem 0;
            width: 100%;
            background-color: #0e1a25;
            flex: 1 1 auto;
        }
    }
}
