@import './styles/app.css';
@import './styles/editor.css';
@import './styles/keybind-input.css';
@import './styles/pad-display.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code,
.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Center a container properly */
.container {
    margin-left: auto;
    margin-right: auto;
}

@layer components {
    .btn {
        &.btn-error {
            background: var(--status-error) !important;
            border-color: var(--status-error) !important;
            color: var(--light-3) !important;

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--status-error) !important;; 
            }

            svg {
                color: var(--dark-3) !important;
                stroke: var(--light-3) !important; 
            }
        }

        &.btn-success {
            background: var(--status-ok) !important;
            border-color: var(--status-ok) !important;
            color: var(--light-3) !important;

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--status-ok) !important;; 
            }

            svg {
                color: var(--dark-3) !important;
                stroke: var(--light-3) !important; 
            }
        }
    }

    .btn-group {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        > .btn {
            flex: 0 0 auto;
            margin: auto;
        }
    }

    .form-row {
        @apply flex flex-row flex-wrap;
    }
}

@layer utilities {
    .text-outline {
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
}
