@import './styles/app.css';
@import './styles/device-select.css';
@import './styles/editor.css';
@import './styles/pad-display.css';
@import './styles/server-select.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code,
.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components {
    .btn {
        &.btn-error {
            background: var(--status-error) !important;
            border-color: var(--status-error) !important;
            color: var(--light-3) !important;

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--status-error) !important;; 
            }

            svg {
                color: var(--dark-3) !important;
                stroke: var(--light-3) !important; 
            }
        }
    }

    .form-row {
        @apply flex flex-row flex-wrap;
    }
}
