.keybinding-input {
    display: flex;

    .content {
        flex: 1 1 auto;
        border: 1px solid #000;
        background: transparent;
        padding: 11px;
        width: 100%;
        transition: 200ms;
    }
}